<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Login Page</title>

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="font/css/font-awesome.min.css" />
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

<body>
  
  
  <div class="jumbotron">
  
    <div class="container">
        
        <div class="page-header">
           <div class="alert alert-info">
              <h1>Spring Boot Test</h1>
           </div>
        </div>
        
        
    </div>

</body>


</html>